<div class="header">
    <nav class="nav-bar">
      <ul>
        <li>
          <a routerLinkActive="active" [routerLink]="['/classificacao']">Classificação</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['/fases']">Fases</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['/proximos-jogos']">Próximos Jogos</a>
        </li>
      </ul>
      <span style="flex: auto;">
        <strong>BOLÃO MOPAS</strong>
      </span>
      <div class="my-account">
        <a routerLinkActive="active" [routerLink]="['/account']">
          Minha Conta
        </a>
      </div>
    </nav>
</div>