<section class="section-container">
  <header>
    <h2 class="tabela-header-titulo">{{grupo.nome_grupo}}</h2>
  </header>
  <div class="tabela tabela-com-jogos-por-grupo">
    <table class="tabela-times">
      <colgroup>
        <col class="tabela-times-col-posicao">
        <col class="tabela-times-col-time">
        <col class="tabela-times-col-variacao">
      </colgroup>
      <thead>
        <tr class="tabela-head-linha">
          <th class="tabela-times-head" colspan="3">Classificação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipe of equipes; index as i" class="tabela-body-linha">
          <td class="tabela-times-posicao" style="color:#0000ff;">{{i+1}}</td>
          <td class="tabela-times-time" >{{equipe.nome_popular}}</td>
          <td class="tabela-times-variacao">0</td>
        </tr>
      </tbody>
    </table>
    <div class="tabela-scroll">
      <table class="tabela-pontos">
        <thead>
          <tr class="tabela-head-linha">
            <th>P</th>
            <th>J</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th class="tabela-pontos-th-duplo">GP</th>
            <th class="tabela-pontos-th-duplo">GC</th>
            <th class="tabela-pontos-th-duplo">SG</th>
            <th>%</th>
            <th class="tabela-pontos-th-longo">ÚLT. JOGOS</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tabela-body-linha" *ngFor="let equipe of equipes">
            <td class="tabela-pontos-ponto">{{getPontos(equipe)}}</td>
            <td>{{equipe.pontuacao?.jogos}}</td>
            <td>{{equipe.pontuacao?.vitorias}}</td>
            <td>{{equipe.pontuacao?.empates}}</td>
            <td>{{equipe.pontuacao?.derrotas}}</td>
            <td>{{equipe.pontuacao?.gols_pro}}</td>
            <td>{{equipe.pontuacao?.gols_contra}}</td>
            <td>{{getSaldoGols(equipe)}}</td>
            <td>0.0</td>
            <td class="tabela-pontos-ultimos-jogos"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <aside class="lista-de-jogos lista-de-jogos-dentro-grupo">
    <header>
      <h2 class="gui-text-section-title tabela-header-titulo">JOGOS</h2>
    </header>
    <nav class="tabela-navegacao tabela-navegacao-jogos">
			<span class="tabela-navegacao-setas tabela-navegacao-left" (click)="previousRodada()"><i class="fas fa-arrow-left"></i></span>
      <span class="tabela-navegacao-seletor">0{{ rodada }}ª rodada</span>
      <span class="tabela-navegacao-setas tabela-navegacao-right" (click)="nextRodada()"><i class="fas fa-arrow-right"></i></span>
		</nav>
    <ul class="lista-de-jogos-conteudo">
      <li class="lista-de-jogos-item" *ngFor="let jogo of jogosByRodada">
        <app-jogo [jogo]="jogo"></app-jogo>
      </li>
    </ul>
  </aside>
</section>