<div class="placar-jogo">
  <div class="placar-jogo-informacoes">{{ jogo.data_realizacao | date:'EEE dd/MM/yyyy':'pt-br' }} <span class="placar-jogo-informacoes-local">{{sede?.nome_popular}}</span> {{ jogo.hora_realizacao.substr(0,5) }}</div>
  <div class="placar-jogo-equipes">
    <span class="placar-jogo-equipes-item placar-jogo-equipes-mandante">
      <span class="placar-jogo-equipes-sigla " [title]="jogo.equipe_mandante?.nome_popular">{{jogo.equipe_mandante?.sigla}}</span>
      <span class="placar-jogo-equipes-nome ">{{jogo.equipe_mandante?.nome_popular}}</span>
      <img class="placar-jogo-equipes-escudo-mandante" [src]="jogo.equipe_mandante?.escudos['30x30']" width="30" height="30" [title]="jogo.equipe_mandante?.nome_popular">
    </span>
    <span class="placar-jogo-equipes-item placar-jogo-equipes-placar"> 
      <input type="number" class="placar-input" simulador-placar-mando="placar_oficial_mandante" min="0" max="19" value="1">
      <span class="tabela-icone tabela-icone-versus"></span>
      <input type="number" class="placar-input" simulador-placar-mando="placar_oficial_visitante" min="0" max="19" value="2">
    </span>
    <span class="placar-jogo-equipes-item placar-jogo-equipes-visitante">
      <img class="placar-jogo-equipes-escudo-visitante" [src]="jogo.equipe_visitante?.escudos['30x30']" width="30" height="30" [title]="jogo.equipe_visitante?.nome_popular">
      <span class="placar-jogo-equipes-sigla " [title]="jogo.equipe_visitante?.nome_popular">{{jogo.equipe_visitante?.sigla}}</span>
      <span class="placar-jogo-equipes-nome ">{{jogo.equipe_visitante?.nome_popular}}</span>
    </span>
  </div>
</div>