<section class="section-container classificacao">
  <header>
    <h2 class="tabela-header-titulo">Classificação Geral</h2>
  </header>
  <div class="tabela tabela-com-jogos-por-grupo">
    <table class="tabela-times">
      <colgroup>
        <col class="tabela-times-col-posicao">
        <col class="tabela-times-col-time">
        <col class="tabela-times-col-variacao">
      </colgroup>
      <thead>
        <tr class="tabela-head-linha">
          <th class="tabela-times-head" colspan="2">Classificação</th>
          <th class="tabela-times-head" colspan="1">P</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; index as i" class="tabela-body-linha">
          <td class="tabela-times-posicao" style="color:#0000ff;">{{i+1}}</td>
          <td class="tabela-times-time" (click)="selectUser(usuario)" >{{usuario.name}}</td>
          <td class="tabela-pontos-ponto">{{getPontuacao(usuario)}}</td>
        </tr>
      </tbody>
    </table>
    <div class="tabela-scroll">
      <table class="tabela-pontos">
        <thead>
          <tr class="tabela-head-linha">
            <th>Placar Correto</th>
            <th>Resultado Correto</th>
            <th>Resultado Errado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tabela-body-linha" *ngFor="let usuario of usuarios">
            <td>{{usuario.pontuacao?.placar_correto}}</td>
            <td>{{usuario.pontuacao?.resultado_correto}}</td>
            <td>{{usuario.pontuacao?.resultado_errado}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="selectedUser">
    <header>
      <h2 class="tabela-header-titulo">{{selectedUser.name}}</h2>
    </header>
    <app-proximos-jogos [userId]="selectedUser._id"></app-proximos-jogos>
  </div>
</section>