<div class="corpo-simulador">
    <nav class="tabela-navegacao tabela-navegacao-fases">
			<span class="tabela-navegacao-setas tabela-navegacao-left" [class.tabela-navegacao-setas-ativa]="canPrevFase()" (click)="prevFase()"><i class="fas fa-arrow-left"></i></span>
      <span>{{faseAtual?.nome}}</span>
      <span class="tabela-navegacao-setas tabela-navegacao-right" [class.tabela-navegacao-setas-ativa]="canNextFase()" (click)="nextFase()"><i class="fas fa-arrow-right"></i></span>
		</nav>
    <button class="icon-button fixed-bottom mini cancel" [class.active]="hasModification" (click)="resetPalpites()">
      <i class="fas fa-times"></i>
    </button>
    <button class="icon-button fixed-bottom save" [class.active]="hasModification" (click)="savePalpites()">
      <i class="fa fa-save"></i>
    </button>
    <h2 *ngIf="isAdmin">PLACAR JOGOS OFICIAIS</h2>
    <div class="container-fases">
      <div *ngIf="faseAtual?.tipo.tipo_id == 3">
        <app-grupo *ngFor="let grupo of faseAtual?.grupos" [grupo]="grupo"></app-grupo>
      </div>
      <div *ngIf="faseAtual?.tipo.tipo_id == 2">
        <section class="section-container">
          <header><h2 class="gui-text-section-title tabela-header-titulo">CONFRONTOS</h2></header>
          <div class="chave-jogo" *ngFor="let chave of faseAtual?.chaves">
            <app-jogo [jogo]="getJogo(chave?.jogo_1.jogo_id)"></app-jogo>
            <div class="chave-jogo-separador"><div class="chave-jogo-nome-centralizador"><span class="chave-jogo-nome">{{chave.nome}}</span></div></div>
          </div>
        </section>
      </div>
    </div>
</div>