.header{
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0px 5px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 23px -9px rgba(0,0,0,0.75);
}

.content {
    display: block;
    max-width: 1075px;
    margin: 0 auto !important;
    padding: 10px 0 48px 0;
}

.main-content {
    padding: 20px;
}

.tabela-navegacao {
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #ddd;
    color: #333;
    /* font-family: proximanova-bold; */
    font-size: 24px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    /*line-height: 55px;*/
}

.tabela-navegacao-fases {
    border-top: 0;
    margin-bottom: 31px;
}

.tabela-navegacao-setas {
    color: #ccc;
    position: absolute;
    top: 0;
}

.tabela-navegacao-setas-ativa {
    color: #3b9c00;
    cursor: pointer;
}

.tabela-navegacao-setas.tabela-navegacao-right {
    padding-left: 40px;
    right: 0;
}

.tabela-navegacao-setas.tabela-navegacao-left {
    padding-right: 40px;
    left: 0;
}

/*GRUPO*/

.section-container {
    margin-bottom: 36px;
}

.tabela-header-titulo {
    margin-bottom: 19px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

@media only screen and (min-width: 62.5625em) {
    .tabela-com-jogos-por-grupo {
        border-right: 1px solid #ddd;
        display: inline-block;
        margin-bottom: 0;
        vertical-align: top;
        width: 67%;
    }
}

/*tabela-times*/
.tabela-times {
    background-color: #fcfcfc;
    font-size: 13px;
    position: absolute;
    table-layout: fixed;
    width: 140px;
    z-index: 10;
}

.tabela-com-jogos-por-grupo {
    margin-bottom: 29px;
}

@media only screen and (min-width: 62.5625em) {
    .tabela-com-jogos-por-grupo .tabela-times {
        width: 239px;
    }
}

.tabela-times-col-posicao {
    width: 25px;
}

.tabela-times-col-time {
    width: auto;
}

.tabela-times-col-variacao {
    width: 38px;
}

.tabela-head-linha {
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #ddd;
    color: #999;
    font-size: 9px;
    font-size: 11px;
    height: 40px;
}

.tabela-times-head {
    line-height: 10px;
    text-align: left;
    text-transform: uppercase;
}

.tabela-body-linha {
    border-bottom: solid 1px #ddd;
    height: 40px;
}

@media only screen and (min-width: 38.8125em) {
    .tabela-body-linha {
        height: 55px;
    }
}

.tabela-body-linha td {
    background-color: #fcfcfc;
    line-height: 14px;
}

.tabela-pontos .tabela-head-linha, .tabela-pontos .tabela-body-linha {
    text-align: center;
}

/*tabela-pontos*/
.tabela-scroll {
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: opacity .35s;
    z-index: 5;
    opacity: 1;
    padding-left: 238px;
}

.tabela-pontos {
    font-size: 14px;
    width: 100%;
}

.tabela th, .tabela td {
    vertical-align: middle;
}

.tabela-pontos th {
    padding: 0 17px;
    white-space: nowrap;
}

@media only screen and (min-width: 62.5625em) {
    .tabela-pontos th {
        padding: 0 17px;
    }
}

.tabela-pontos-th-duplo {
    padding: 0 13px;
}

@media only screen and (min-width: 62.5625em) {
    .tabela-pontos .tabela-pontos-th-duplo {
        padding: 0 14px;
    }
}

@media only screen and (min-width: 38.8125em) {
    .tabela-pontos td {
        padding-top: 2px;
    }
}

.tabela-pontos td:nth-child(odd) {
    background-color: #f5f5f5;
}

/*JOGOS*/
.lista-de-jogos {
    position: relative;
}

@media only screen and (min-width: 64.063em) {
    .lista-de-jogos-dentro-grupo {
        display: inline-block;
        vertical-align: top;
        width: 32%;
    }
}

@media only screen and (min-width: 40.063em) {
    .lista-de-jogos-dentro-grupo .tabela-header-titulo {
        font-size: 28px;
        margin-bottom: 16px;
    }
}

@media only screen and (min-width: 64.063em) {
    .lista-de-jogos-dentro-grupo .tabela-header-titulo {
        display: none;
    }

    .lista-de-jogos .tabela-navegacao-setas, .lista-de-jogos .tabela-navegacao-seletor {
        font-size: 16px;
        line-height: 39px;
    }
}

.lista-de-jogos-item {
    border-bottom: 1px solid #e3e3e3;
    display: list-item;
}

.placar-jogo {
    height: 100px;
    padding-top: 18px;
    text-align: center;
}

@media only screen and (min-width: 40.063em) {
    .placar-jogo {
        height: 109px;
        padding-top: 24px;
    }
}

.placar-jogo-informacoes {
    color: #666;
    font-family: proximanova-bold;
    font-size: 10px;
    letter-spacing: -.3px;
    text-transform: uppercase;
}

@media only screen and (min-width: 40.063em) {
    .placar-jogo-informacoes {
        font-size: 11px;
    }
}

.placar-jogo-equipes {
    color: #333;
    display: table;
    font-family: opensans-light;
    font-size: 18px;
    padding: 5px 0 4px;
    width: 100%;
}

@media only screen and (min-width: 40.063em) {
    .placar-jogo-equipes {
        padding-bottom: 7px;
    }
}

.placar-jogo-equipes-item {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    width: 35%;
}

.placar-jogo-equipes-mandante {
    text-align: right;
}

.placar-jogo-equipes-visitante {
    text-align: left;
}

.placar-jogo-equipes-placar {
    font-family: opensans-bold;
    width: 30%;
}

.lista-de-jogos-conteudo {
    list-style: none;
}

@media only screen and (min-width: 64.063em) {
    .lista-de-jogos .placar-jogo-equipes-item {
        width: 33%;
    }

    .lista-de-jogos .placar-jogo-equipes-placar {
        width: 34%;
    }

    .lista-de-jogos .placar-jogo-equipes-sigla {
        display: inline-block;
    }

    .lista-de-jogos .placar-jogo-equipes-nome {
        display: none;
    }
}

@media only screen and (min-width: 480px) {
    .chave-jogo-ida .placar-jogo-equipes-nome {
        display:inline-block
    }

    .chave-jogo .placar-jogo-equipes-sigla {
        display: none;
    }
}

.placar-jogo-equipes-sigla, .placar-jogo-equipes-nome {
    line-height: 20px;
    max-width: 68%;
}

.placar-jogo-equipes-item img, .placar-jogo-equipes-item span {
    vertical-align: middle;
}

.placar-jogo-equipes-escudo-mandante {
    margin-left: 8px;
}

.placar-jogo-equipes-escudo-mandante, .placar-jogo-equipes-escudo-visitante {
    height: 30px;
    width: 30px;
}

@media only screen and (min-width: 40.063em) {
    .placar-jogo-equipes-escudo-mandante {
        margin: -5px 0 0 11px;
    }
}

input.placar-input {
    border: 0;
    display: inline-block;
    width: 28px;
    box-shadow: inset 0 0 3px #ccc;
    border: 1px solid #CCC;
    vertical-align: middle;
    text-align: center;
}

input.placar-input[type="number"] {
    -moz-appearance: textfield;
}

input.placar-input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    display:none;
}

.tabela-icone {
    height: 7px;
    width: 7px;
}

.placar-jogo .tabela-icone-versus {
    margin: 0 5px;
}

.tabela-icone-versus {
    background: url(http://s.glbimg.com/es/ge/static/live/widget_classificacao_responsivo/img/sprite-tabela-icones.svg?3b757c5a9ee1) no-repeat left bottom;
    background-size: 12px auto;
    height: 6px;
    width: 6px;
}

@media only screen and (min-width: 40.063em) {
    .tabela-icone-versus {
        background-size: 19px auto;
        height: 11px;
        width: 9px;
    }
}

/****************************************************************/
@media only screen and (max-width: 765px) {
    .tabela-header-titulo {
        font-size: 20px;
    }

    .tabela-scroll {
        padding-left: 140px;
        margin-right: -10px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .placar-jogo-equipes-nome {
        display: none;
    }

    .tabela-com-jogos-por-grupo {
        margin-bottom: 21px;
    }
}

.chave-jogo {
    background-color: #fcfcfc;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    margin-bottom: 15px;
    position: relative;
    z-index: 5;
}

.chave-jogo-separador {
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.chave-jogo-nome-centralizador {
    left: 50%;
    position: absolute;
    top: -11px;
}

.chave-jogo-nome {
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 9px;
    color: #999;
    display: inline-block;
    font-family: opensans-regular;
    font-size: 9px;
    line-height: 14px;
    margin-left: -50%;
    padding: 0 14px;
    text-transform: lowercase;
    white-space: nowrap;
}

@media only screen and (min-width: 40.063em) {
    .chave-jogo-nome {
        font-size: 11px;
        line-height: 18px;
    }
}